.about-header {
  text-align: center;
  font-size: 2.5rem;
}

.about-title {
  text-align: center;
  font-family: 'Square Peg', cursive;
  font-size: 3.5rem;
}

.header-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.about-button-container {
  display: flex;
  justify-content: center;
}

.about-book-button {
  border: none;
  padding: 8px 20px;
  background-color: #2D3142;
  color: white;
  font-weight: 500;
  cursor: pointer;
  font-weight: lighter;
  transition: 0.2s;
  margin-top: 25px;
  margin-bottom: 25px;
}

.about-book-button:hover {
  background-color: #555d80;
}

.about-text {
  margin-left: 10%;
  margin-right: 10%;
}