.property-item-container {
    margin-top: 15px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}

.property-item-image-container {
    width: 30%;
    object-fit: contain;
    overflow: hidden;
    height: 200px;
}

.property-item-image {
    width: 100%;
    height: 100%;
    object-position: 20% 10%;
    object-fit: cover;
}

.property-info-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 5px;
}

.property-details-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 5px;
}

.property-name {
    font-size: 1.5rem;
    margin-left: 10px;
}

.property-item-location-container {
    display: flex;
    flex-direction: row;
}

.property-item-location-icon {
    margin-left: 10px;
    margin-right: 10px;
}

.property-item-location {
    font-size: 0.8rem;
    color: gray;
}

.property-item-description {
    font-size: 0.9rem;
    color: gray;
    margin-left: 10px;
}

.property-item-additional-detail {
    display: flex;
    flex-direction: row;
    margin-right: 20%;
    height: 40px;
}

.property-item-additional-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
}

.property-item-additional-info-icon-container,
.property-item-additional-info-text-container {
    height: 50%;
}

.property-item-type-text {
    font-size: 0.9rem;
    color: gray;
}

.property-item-additional-info-icon {
    font-size: 1.2rem;
    width: 100%;
    color: gray;
}

.booking-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 5px;
}

.property-item-reviews-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 5px;
}

.booking-stars-container {
    display: flex;
    flex-direction: row;
}

.rating-star {
    color: rgb(241, 211, 90);
    margin-right: 2px;
}

.review-count {
    margin-top: 5px;
    font-size: 0.8rem;
}

.property-item-pricing-container {
    display: flex;
    flex-direction: column;
}

.property-item-pricing-from {
    font-size: 0.9rem;
    color: gray;
    margin-bottom: 0;
}

.property-item-price {
    font-size: 1.4rem;
    color: black;
    font-weight: bold;
}

.property-item-per-night-text {
    font-size: 0.9rem;
    color: gray;
}

.property-item-pricing-rate-line {
    margin: 0;
}

.property-item-terms-text {
    margin: 3px 0;
    font-size: 0.8rem;
    color: gray;
}

.property-item-book-now-btn {
    border: none;
    padding: 8px;
    text-align: center;
    background-color: #2D3142;
    color: white;
    font-weight: 500;
    cursor: pointer;
    font-weight: lighter;
    transition: 0.2s;
    margin-top: 5px;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: white;
    }
    .property-item-container {
        display: flex;
        flex-direction: column;
    }

    .property-item-image-container {
        width: 100%;
        object-fit: contain;
        overflow: hidden;
        height: 200px;
    }

    .property-info-container {
        padding: 10px;
    }

    .property-item-additional-item-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
    }
  }